<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Mi Primer Blog en RoR</title>
        <%= stylesheet_link_tag 'scaffold' %>
    </head>
    <body>
    <p style="color: green">
        <%= flash[:notice] %>
    </p>
    <div id="principal">
        <div id="cabecera">
        </div>
        <%= yield %>
        <div id="pie">
            <div id="contenidopie">
                Esta página ha sido creada en Ruby On Rails por Xabier Esteban
            </div>
        </div>
    </div>
</body>
</html>
